<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".KopAIApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KopAI">
        <activity
            android:name=".view.blend.BlendActivity"
            android:exported="false" />
        <activity
            android:name=".view.product.productlist.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".view.checkout.CheckoutInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.editprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.authentication.preferences.PreferencesSixActivity"
            android:exported="false" />
        <activity
            android:name=".view.authentication.preferences.PreferencesFiveActivity"
            android:exported="false" />
        <activity
            android:name=".view.authentication.preferences.PreferencesFourActivity"
            android:exported="false" />
        <activity
            android:name=".view.authentication.preferences.PreferencesThreeActivity"
            android:exported="false" />
        <activity
            android:name=".view.authentication.preferences.PreferencesTwoActivity"
            android:exported="false" />
        <activity
            android:name=".view.authentication.preferences.PreferencesOneActivity"
            android:exported="false" />
        <activity
            android:name=".view.authentication.recovery.RecoveryNotifActivity"
            android:exported="false" />
        <activity
            android:name=".view.authentication.recovery.RecoveryAccountActivity"
            android:exported="false" />
        <activity
            android:name=".view.authentication.register.RegisterCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".view.checkout.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".view.productmaps.ProductMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_product_maps"
            android:theme="@style/Theme.KopAI.NoBar" />
        <activity
            android:name=".view.addproduct.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.product.productdetails.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.KopAI.NoBar" />
        <activity
            android:name=".view.authentication.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.KopAI.NoBar" />
        <activity
            android:name=".view.authentication.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.KopAI.NoBar" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>